# dataset

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import linear_model
from sklearn import metrics
from sklearn import preprocessing
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
import statsmodels.api as sm

In [2]:
train_data=pd.read_csv("./A4Benchmark/A4Benchmark-TS2.csv") #training data set1

train_data.head()

,timestamps,value,anomaly,changepoint,trend,noise,seasonality1,seasonality2,seasonality3
0,1.416722e+09,4.946131,0,0,3,1.946131,0.000000,0.000000,0.000000
1,1.416726e+09,177.315568,0,0,6,19.670433,110.250000,38.512274,2.882861
2,1.416730e+09,276.682476,0,0,9,-3.437816,190.958602,74.400000,5.761690
3,1.416733e+09,351.276213,0,0,12,4.926263,220.500000,105.217489,8.632461
4,1.416737e+09,337.027992,0,0,15,-9.286349,190.958602,128.864580,11.491159

In [3]:
# train_data["anomaly"] == 1

specific_rows = train_data[train_data['anomaly'] == 1]

In [4]:
specific_rows

,timestamps,value,anomaly,changepoint,trend,noise,seasonality1,seasonality2,seasonality3
433,1.418281e+09,757.198566,1,0,1302,-1.240161,1.102500e+02,38.512274,-36.026411
685,1.419188e+09,1515.601837,1,0,2058,6.134836,1.102500e+02,-38.512274,36.026411
723,1.419325e+09,1909.528392,1,0,2172,-4.665366,2.205000e+02,105.217489,72.773405
1254,1.421237e+09,4589.921187,1,0,3765,2.667688,-4.540130e-12,148.800000,17.156364
1419,1.421831e+09,5260.218577,1,0,4260,-7.260564,2.205000e+02,105.217489,25.464516